/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  background-color: black;
  /*background-image: url('img/bg.png');*/
}

.container {
  width: 700px;
  height: 545px;
  margin: 40px auto;
  padding: 40px;
  background-color: black;
}

.scoreboard {
  display: block;
  width: 250px;
  float: right;
  text-align: right;
  font-size: 24px;
}

.scoreboard div {
  line-height: 30px;
  letter-spacing: 1.5px;
}

svg {
  border: 3px solid #6EE8CB;
  margin-top: 25px;
}

.high {
  color: #6EE8CB;
}

.current {
  color: #6EE8CB;
}

.collisions {
  color: #6EE8CB;
}

.title {
  color: white;
  font-variant: small-caps;
  font-size: 25px;
  display: block;
  width: 450px;
  float: left;
  letter-spacing: .5px;
}