/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  box-sizing: border-box;
  font-family: VT323;
  font-size: 14px;
  background-color: black;
  /*background-image: url('img/bg.png');*/
}

.container {
  width: 1000px;
  height: 545px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: black;
}

.scoreboard {
  display: block;
  width: 250px;
  float: right;
  text-align: right;
  font-size: 24px;
}

.scoreboard div {
  line-height: 30px;
  letter-spacing: 1.5px;
}

svg {
  outline: 3px dashed #6EE8CB;
  margin-top: 25px;
  background-image: url('img/svg-bg.gif');
  background-size: cover;
  background-position: center;
}

.high {
  color: #6EE8CB;
}

.current {
  color: #6EE8CB;
}

.collisions {
  color: #6EE8CB;
}

.title h1 {
  color: white;
  font-variant: small-caps;
  font-size: 35px;
  display: block;
  width: 450px;
  float: left;
  letter-spacing: .5px;
  margin: 0;
}

.choose-player {
  clear: both;
}

button {
  border: 2px dashed #6EE8CB;
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}

button:hover {
  border: 2px dashed pink;
  cursor: pointer;
}


.logo {
  color: pink;
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: center;
  margin-bottom: -200px;
}

.hard {
  float: right;
}